[phases.build]
cmds = [
  "cd CandidateAssessment.API && dotnet restore && dotnet publish -c Release -o ../publish",
  "cd candidate-assessment-ui && npm ci && npm run build",
  "mkdir -p publish/wwwroot && cp -r candidate-assessment-ui/dist/candidate-assessment-ui/* publish/wwwroot/"
]

[start]
cmd = "dotnet publish/CandidateAssessment.API.dll"
